@CHARSET "UTF-8";

#qipan {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 320px;
    display: block;
    color: #fff;
	border: 2px gray outset;
	
}

#qipan span {
 float: left;
    line-height: 60px;
   	font-size:inherit;
    background-color: gray;
    width: 60px;
    height: 60px;
    border: 2px gray outset;
    
}

#miaobiao {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
	text-align: center;
    line-height: 60px;
    font-size:inherit;
    display: block;
    color: #fff;
	background-color: gray;
	border: 2px gray outset;

}

#kongzhi {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
	text-align: center;
    line-height: 60px;
    font-size:inherit;
    display: block;
    color: #fff;
	background-color: gray;
	border: 2px gray outset;

}